{%extends 'base.html'%}

{%block content%}
<header>
    <a data-tutorial class="btn btn-primary" href="{{url_for('tutorial')}}">Tutorial</a>
</header>
<section class="draw">
    <h1 id="result">Please watch the tutorial first</h1>
    <div class="tools">
        <div class="tool active border">
            <img src="{{url_for('static',filename='images/tools/pen.svg')}}" alt="">
        </div>
        <div class="tool border">
            <img src="{{url_for('static',filename='images/tools/eraser.svg')}}" alt="">
        </div>
        <div id="start" data-one-click class="tool border">
            <img src="{{url_for('static',filename='images/tools/back.svg')}}" alt="">
        </div>
    </div>
    <!-- <button id="start" class="btn">reset</button> -->
    <canvas class="prevent-scroll border border-radius-5-"></canvas>
    <button data-cheack class="btn">Cheack</button>
</section>
<div class="popup-window">
    <div class="popup border border-radius-10">
        <div class="popup-head">
            <img src="{{url_for('static',filename='images/cute.svg')}}" alt="cute image">
        </div>
        <div class="popup-body">
            <h1></h1>
            <p>Hi, I am a little robot, you can call me ElgoCode-Robot :) I am still a child robot so do not judge me, hope you like me cuz I do like you :)</p>
        </div>
        <button class="ok-btn">OK</button>
    </div>
</div>

<canvas id="my-canvas"></canvas>
{%endblock%}















